[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packges]
sanic = {version='==23.3.0'}

[requires]
python_version = "3.11"

[packages]
sanic = "*"
json2html = "*"
sanic-ext = "*"
